<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Remindr</title>
</head>
<header>
    <a href="/">Remindr</a>
</header>
<body>
    <div style="text-align: center;">
    {{{body}}}
    </div>
</body>
</html>