<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Remindr</title>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<header>
    <a class="title"  href="/">Remindr</a>
</header>
<body>
    {{{body}}}
</body>
</html>