<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Remindr</title>
</head>
<header>
    <h1>Remindr</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>
<body>
    <div style="text-align: center;">
    {{{body}}}
    </div>
</body>
</html>