<h1>Dashboard</h1>
{{#if user}}
    <p>Vos informations</p>
    <p>{{user.lastName}} {{user.firstName}}</p>
    <p>{{user.email}}</p>
    <a href='/logout'>Se deconnecter</a>
{{else}}
    <p>Vous n'êtes pas connecté</p>
    <a href='/login'>Se connecter</a>
    <a href='/signup'>Créer un compte</a>
{{/if}}