<h1>Dashboard</h1>
{{#if user}}
    <p>Bonjour {{user.firstName}}</p>
    <button onclick="window.location.href='/logout'">Se déconnecter</button>
{{else}}
    <p>Vous n'êtes pas connecté</p>
    <button onclick="window.location.href='/login'">Se connecter</button>
    <button onclick="window.location.href='/signup'">Créer un compte</button>
