<div style="text-align: center;">
    <h1>Remindr</h1>
    <button onclick="window.location.href='/login'">Se connecter</button>
    <button onclick="window.location.href='/signup'">Créer un compte</button>
</div>