{{#if user}}
    <a class="button" href='/create-group'>Crée un groupe</a>
    <a class="button" href='/dashboard'>Dashboard</a>
    <a class="button" href='/logout'>Se deconnecter</a>
{{else}}
    <a class="button"  href='/login'>Se connecter</a>
    <a class="button" href='/signup'>Créer un compte</a>
{{/if}}